<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liangxin.platform.mapper.advise.IProjectRecordMapper">
    <resultMap id="BaseResultMap" type="com.liangxin.platform.common.entity.advise.generate.pt.ProjectRecord">
        <id column="ID_" property="id" jdbcType="VARCHAR"/>
        <result column="NAME_" property="name" jdbcType="VARCHAR"/>
        <result column="EVERYONE_" property="everyone" jdbcType="VARCHAR"/>
        <result column="BUILD_FACTORY_" property="buildFactory" jdbcType="VARCHAR"/>
        <result column="RECORD_MESSAGE_" property="recordMessage" jdbcType="VARCHAR"/>
        <result column="RECORDER_INFO_" property="recorderInfo" jdbcType="VARCHAR"/>
        <result column="RECORD_DATE_" property="recordDate" jdbcType="VARCHAR"/>
        <result column="INFORM_STATUS_" property="informStatus" jdbcType="DECIMAL"/>
        <result column="OA_NUMBER_" property="oaNumber" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME_" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME_" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="DELETE_FLAG_" property="deleteFlag" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID_, NAME_, EVERYONE_, BUILD_FACTORY_, RECORD_MESSAGE_, RECORDER_INFO_, RECORD_DATE_, 
    INFORM_STATUS_, OA_NUMBER_, CREATE_TIME_, UPDATE_TIME_, DELETE_FLAG_
  </sql>
    <select id="selectByCondition" resultMap="BaseResultMap"
            parameterType="com.liangxin.platform.common.entity.advise.generate.pt.ProjectRecord">
        select
        <include refid="Base_Column_List"/>
        from PROJECT_RECORD_
        where DELETE_FLAG_=0
        <if test="id != null">
            and ID_ = #{id,jdbcType=VARCHAR}
        </if>
        <if test="name != null">
            and NAME_ = #{name,jdbcType=VARCHAR}
        </if>
        <if test="everyone != null">
            and EVERYONE_ = #{everyone,jdbcType=VARCHAR}
        </if>
        <if test="buildFactory != null">
            and BUILD_FACTORY_ = #{buildFactory,jdbcType=VARCHAR}
        </if>
        <if test="recordMessage != null">
            and RECORD_MESSAGE_ = #{recordMessage,jdbcType=VARCHAR}
        </if>
        <if test="recorderInfo != null">
            and RECORDER_INFO_ = #{recorderInfo,jdbcType=VARCHAR}
        </if>
        <if test="recordDate != null">
            and RECORD_DATE_ = #{recordDate,jdbcType=VARCHAR}
        </if>
        <if test="informStatus != null">
            and INFORM_STATUS_ = #{informStatus,jdbcType=DECIMAL}
        </if>
        <if test="oaNumber != null">
            and OA_NUMBER_ = #{oaNumber,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and UPDATE_TIME_ = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="deleteFlag != null">
            and DELETE_FLAG_ = #{deleteFlag,jdbcType=DECIMAL}
        </if>
    </select>
</mapper>